{% extends "base.html" %}
{% load static %}
{% block content %}
  <img src="{% static "images/logo.png" %}" alt="logo" width="100px"/>
  <h1 class="contents">2024 멋쟁이사자처럼 12기</h1>
  <div class="contents">Welcome Django!</div>
  <div>🦁머쩅이 사자의 일기짱
    <ul>
      <li>오늘의 날씨 :
        {{info.weather}}</li>
      <li>오늘의 기분 :
        {{info.feeling}}</li>
      <li>{{info.note}}</li>
    </ul>
  </div>
  <div>🤓오늘의 멋쟁이
    <ul>
      {% for member in members %}
        <li>{{member}}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
